{% extends 'base.html' %}
{% load static %}


{% block title %}
    Event List
{% endblock %}

{% block content %}
    <h1 style="text-align: center;">Create New Event</h1>
    {% if user.is_organizer %}
        <div style="display: flex; justify-content: space-around; margin-top: 20px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create Event</button>
            </form>
        </div>
    {% else %}
        <h1>You are not organizer!</h1>
    {% endif %}
    <a href="{% url 'event_list' %}">Back to Events</a>
{% endblock %}
