{% extends 'base.html' %}
{% load static %}


{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <section class="post-area section-gap">

        <div class="container">
            <h1 style="margin-bottom: 30px">{{ user.username }}'s Dashboard</h1>
            <div class="row justify-content-center d-flex">
                <div class="col-lg-8 post-list">
                    <h2>Organized Events</h2>
                    {% if organized_events %}
                        {% for event in organized_events %}
                            <div style="margin-top: 30px; display: flex; gap: 10px; justify-content: right">
                            <form method="post" action="{% url 'cancel_event' pk=event.id %}">
                                {% csrf_token %}
                                <button class="ticker-btn" type="submit">Cancel</button>
                            </form>
                            <form method="post" action="{% url 'event_delete' pk=event.id %}">
                                {% csrf_token %}
                                <button class="ticker-btn" type="submit">Delete</button>
                            </form>
                            </div>
                            {% include 'event_card.html' %}
                        {% endfor %}
                    {% else %}
                        <p>You have not organized any events.</p>
                    {% endif %}
                    <h2 style="margin-top: 100px;">Attending Events</h2>
                    {% if attending_events %}
                        {% for event in attending_events %}
                            {% include 'event_card.html' %}
                        {% endfor %}
                    {% else %}
                        <p>You are not attending any events.</p>
                    {% endif %}
                </div>
                <div class="col-lg-4 sidebar">
                    <div class="single-slidebar">
                        <h4>Notifications</h4>
                        {% for notification in notifications %}
                            <ul class="cat-list">
                                {% if notification.is_read %}
                                    <li>
                                    <small>seen</small>
                                        {% else %}
                                    <li style="background-color: #62ffc6">
                                    <small>unseen</small>
                                {% endif %}
                                <h5>{{ notification.get_notification_type_display }}</h5>
                                <small style="justify-self: right">{{ notification.timestamp }}</small>
                                <a class="justify-content-between d-flex" href="{% url "notification_detail" pk=notification.id %}">
                                    <p style="width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ notification.message }}</p></a>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
